.dropdownToggle {
  background-color: #ffffff;
  cursor: pointer;
  font-size: xx-large;
  width: 50%;
}

.innerCssEmoji {
  display: inline-block;
}

.option {
  margin-inline-start: -40px;
}

.optionButton {
  background-color: white;
  cursor: pointer;
  font-size: large;
  width: 25%;
}

.innerCssText {
  display: inline-block;
}

.dropDownDiv {
  text-align: center;
}