.genButton {
  text-align: center;
  padding-top: auto;
  height: 10cm;
}

.logo {
  position: absolute;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.selectClass {
  padding-top: 2cm;
}
