.genButtonDiv {
  width: 100%;
  padding-top: 12vh;
  text-align: center;
}

.genButton {
  height: 5vh;
  width: 12vh;
  text-align: center;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
}

.h1Loading {
  text-align: center;
}

.h1Div {
  height: 100%;
  width: 100%;
}

.logo {
  position: absolute;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.selectClass {
  padding-top: 2cm;
}

.textInBox {
  text-align: center;
  font-size: large;
}

.box {
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
